* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
}

body {
    background: #f8f5f1;
    color: #214662;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;        
    padding: 5px 5px;
    background: #e1dfe1b2;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px rgba(102, 97, 97, 0.281);
    color: #95a6b7;
}

.navbar h1 {
    font-size: 12px;
    font-weight: 400;
}

.carousel {
    position: relative;
    width: 300px;
    height: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: pan-y;
    cursor: grab;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.dragging {
    cursor: grabbing;
}

button {
    border: none;
    padding: 10px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transform: translateY(-50%);
}

.arrow.left {
    left: 50px;
}

.arrow.right {
    right: 80px;
}

.arrow .icon {
    stroke: #214662;
    fill: none;
    width: 45px;
    height: 45px;
}

.icon {
    width: 24px;
    height: 24px; 
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4b6b8b;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    box-shadow: 0 2px 10px rgba(102, 97, 97, 0.281);
}

.card.hidden {
    opacity: 0;
    z-index: 1;
}

.card.active {
    transform: scale(1) translateX(0);
    z-index: 5;
    opacity: 1;
    background-color: #E1DFE1;
}

.card.active h2 {
    margin: 15px 0 -10px;
}

.card.active p {
    margin: 0;
    font-size: 13px;
    opacity: 0.8;
    color: #214662;
}

.card.next {
    transform: scale(0.9) translateX(140px);
    z-index: 4;
    opacity: 0.9;
    background-color: #214662;
}

.card.next-2 {
    transform: scale(0.8) translateX(240px);
    z-index: 3;
    opacity: 0.8;
    background-color: #4B6B8B;
}

.card.prev {
    transform: scale(0.9) translateX(-140px);
    z-index: 4;
    opacity: 0.9;
    background-color: #214662;
}

.card.prev-2 {
    transform: scale(0.8) translateX(-240px);
    z-index: 3;
    opacity: 0.8;
    background-color: #4B6B8B;
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.card h2 {
    font-size: 18px;
    margin-top: 10px;
}

.card p {
    font-size: 14px;
    opacity: 0.8;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: nowrap;
}

.player button {
    background: transparent;
    border: none;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.player button:hover {
    background: #d6d4d6;
    transform: scale(1.1);
}

.player button:hover .icon {
    transform: scale(1.2);
    transition: 0.3s;
}

.player .icon {
    stroke: #214662;
    fill: none;
}

.play {
    width: 55px;
    height: 55px;
}

.play .icon {
    fill: #214662;
    stroke: none;    
}

.progress-container {
    width: 100%;
    height: 4px;
    background: rgba(33, 70, 98, 0.2);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.progress {
    height: 100%;
    width: 0%;
    background: #214662;
    transition: width 0.1s linear;
}

.pagination {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #95a6b7;
    box-shadow: 0 2px 10px rgba(102, 97, 97, 0.281);
}

.dot.active {
    background: #214662;
}

.disclaimer {
    text-align: center;
    font-size: 12px;
    opacity: 0.6;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    background: rgba(0,0,0,0.03);
    backdrop-filter: blur(5px);
}

.links {
    position: fixed;
    right: 30px;
    bottom: 60px;
    display: flex;
    gap: 15px;
    
}

.links a {
    text-decoration: none;
    color: #214662;
    font-size: 14px;
    opacity: 0.7;
    transition: 0.3s;
}

.links a:hover {
    opacity: 1;
}


@media (max-width: 768px) {
    .card.prev,
    .card.next,
    .card.prev-2,
    .card.next-2 {
        transform: scale(0.9) translateY(20px);
        opacity: 0.5;
    }
}